{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/mountain-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row" style="text-align: center">
      <div class="col-lg-8 col-md-10 mx-auto ">
        <img style="border-radius: 4rem;" src="{{ url_for('static', filename='img/profile-pic.jpg')}}">
        <p>Hey! Hey! Hey!</p>
        <p>If you couldn't tell already my name is Jacob and welcome to my blog website. Actually just my website.
          I don't feel like making another one LOL.</p>
        <p>I made this blog to write about topics mostly in Programming, Cybersecurity, and Video games so don't
        expect too much. I love writing about my passions and I believe having this website is the best way to
        express myself. If you want you can make your own account on this website and comment on my blog posts,
        whether it be just mentioning something or giving me feedback 😀.</p>
        <p>Also I'll be talking about resources that I've used so stay tuned for that!</p>
        <p>Now for some interesting things about me (make sure you take notes): </p>
        <p>I love band</p>
        <p>I love Matthew Chan</p>
        <p>I love Programming</p>
        <p>I love Cyber Security</p>
        <p>And thats it lol. Thanks for reading!</p>
        <p>Best Regards,
        Jacob Jayme</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}